<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= "#{match.summary} | " rescue '' %><%= I18n.t(:title) %></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="mobile-web-app-capable" content="yes" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#68b34e" />
    <meta name="msapplication-TileColor" content="#aae695" />
    <meta name="theme-color" content="#000000" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <% if tracking_id %>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=<%= tracking_id %>"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '<%= tracking_id %>');
      </script>
    <% end %>
    <%= javascript_tag 'application', expand: true %>
    <%= stylesheet_tag 'application' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
