<main id="scoreboard">
  <%= erb(:'_scoreboard.html', layout: false, locals: { match: match_data(match_id), match_id: match_id }) %>
</main>
<div id="no-sleep-button">
  <img src="<%= image_path 'alarm-clock.svg' %>" alt="" width="40" height="40">
  <%= I18n.t('scoreboard.awake') %>
</div>
<style>
  /* Disable scrolling for this page */
  body { overflow: hidden; }
</style>
<script type="text/javascript">
  // Stop screens from going to sleep, requires human interaction to activate.
  var noSleep = new NoSleep();
  var button  = document.getElementById('no-sleep-button');
  button.onclick = function() {
    noSleep.enable();
    button.style.display = "none";
  }
  $(document).ready(function() {
    // Update the scoreboard every two and a half minutes.
    setInterval(function(){ refreshScore(<%= match_id.to_json %>); }, <%= (interval * 1000).to_json %>);
    // Hide the no sleep button if it hasn't been pushed after 15 seconds.
    setTimeout(function() { document.getElementById('no-sleep-button').style.display = "none"; }, 15000);
  });
</script>
