<main>
  <table class="squad">
    <% team.players.each do |player_id, player| %>
      <tr class="player">
        <td class="name" id="player-<%= player_id %>-name"><%= player.name %></td>
        <td class="role" id="player-<%= player_id %>-role"><%= player.role %></td>
        <td class="age" id="player-<%= player_id %>-age"><%= I18n.t('squad.age', age: player.age) %></td>
      </tr>
    <% end %>
  </table>
</main>
